@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("pageTitle") ?? null;

    var preamble = Model?.Value<string>("preamble") ?? "";
	var image = Model?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";
}

@if (!string.IsNullOrEmpty(ViewBag.Title))
{
    @await Html.PartialAsync("partials/static/breadcrumb.cshtml")
}

<section class="service-details">
	<div class="container">
		<div class="left-side">
			<h4>About us</h4>
			<img src="@image" alt="@Model?.Name">
			<p>@preamble</p>
			@await Html.PartialAsync("partials/static/supportForm.cshtml")
		</div>
		<div class="right-side">
			@Model.Value("pageContent")
		</div>
	</div>
</section>

<section class="question-form">
	@await Html.PartialAsync("partials/static/questionForm.cshtml")
</section>

@await Html.PartialAsync("partials/static/contactInfo.cshtml")