@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var officeLocation = settings?.Value<string>("officeLocation") ?? "";
    var officePhoneNumber = settings?.Value<string>("officePhoneNumber") ?? "";
    var officeEmailAddress = settings?.Value<string>("officeEmailAddress") ?? "";
    
}

<section class="contact-info-section">
    <div class="container">
        <img class="contact-info-guy" src="/media/5pvjl21m/contact-info-guy.svg" alt="">
        <img class="contact-info-background" src="/media/5f3mzqhb/contact-info-background.svg" alt="">
        <div class="contact-info">
            <h2>Let us know about <br>your next project</h2>
            <div class="contact-boxes">
                <div class="box">
                    <i class="fa-sharp fa-regular fa-location-dot"></i>
                    <div class="right-text">                                  
                        <h5>Office location</h5>
                        <p>@officeLocation</p>
                    </div>
                </div>
                <div class="box">
                    <i class="fa-sharp fa-regular fa-phone-flip"></i>
                    <div class="right-text">
                        <h5>Phone number</h5>
                        <p>@officePhoneNumber</p>
                    </div>
                </div>
                <div class="box">
                    <i class="fa-regular fa-envelope"></i>
                    <div class="right-text">
                        <h5>E-mail address</h5>
                        <p>@officeEmailAddress</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>