<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea4721f5-aabd-40e7-b0dc-b1c8551b0dd0" Alias="About" Level="2">
  <Info>
    <Parent Key="d400ba82-4eae-45c6-b5da-cedd8ec1e6c6">Onatrix Offical - Home</Parent>
    <Path>/OnatrixOfficalHome/About</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-10T14:50:26</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cfc16203-4f06-490d-b22e-37815dc86f6d">modularPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Get to Know Us]]></Value>
    </pageTitle>
  </Properties>
</Content>