<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa6fc4b3-948a-4c10-bfb8-5e37c8791fd9" Alias="Annual Report for Juva Inc." Level="3">
  <Info>
    <Parent Key="8b7ae6a0-7562-4055-b129-4782dd7f9225">Projects</Parent>
    <Path>/OnatrixOfficalHome/Projects/AnnualReportForJuvaInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-22T16:41:30</CreateDate>
    <NodeName Default="Annual Report for Juva Inc." />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2469f320-af04-49dd-8156-2ef3df2d86bc">projectItemTemplate</Template>
  </Info>
  <Properties>
    <dateUploaded>
      <Value><![CDATA[June 15, 2024]]></Value>
    </dateUploaded>
    <pageContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022font-size: 14pt; color: rgb(156, 158, 166);\u0022\u003EJune 15, 2024\u003C/span\u003E\u003C/p\u003E\n\u003Ch3\u003E\u003Cspan style=\u0022font-size: 14pt;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at enim vestibulum, dapibus elit quis, pellentesque justo. Proin sit amet libero quis orci convallis mollis.\u003C/span\u003E\u003C/h3\u003E\n\u003Cp\u003E\u003Cspan style=\u0022font-size: 14pt;\u0022\u003E\u003Cimg src=\u0022\u0022 alt=\u0022projects-1.svg\u0022 width=\u0022480\u0022 height=\u0022480\u0022 data-udi=\u0022umb://media/4c2e983259e340c0addf49fc7b56587d\u0022\u003E\u003C/span\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "af355454-1d07-49e7-9346-b7392963c0e2",
    "mediaKey": "4c2e9832-59e3-40c0-addf-49fc7b56587d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>