<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b16bcab-d6f1-43db-a7f3-1bf9ebf398c6" Alias="Annual Reports" Level="3">
  <Info>
    <Parent Key="f4525db9-9bed-4235-8345-595274c82140">Services</Parent>
    <Path>/OnatrixOfficalHome/Services/AnnualReports</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-12T15:01:14</CreateDate>
    <NodeName Default="Annual Reports" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="860db32f-4660-46bc-8789-ac4b90e6609c">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003Eblabla\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Annual Reports]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "0bb37c85-bd0f-4d85-b7a3-25406aa85e29",
    "mediaKey": "4c2e9832-59e3-40c0-addf-49fc7b56587d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>