<?xml version="1.0" encoding="utf-8"?>
<Content Key="8249e3e9-b760-417f-b3f5-57b60c7498c8" Alias="Another Project" Level="3">
  <Info>
    <Parent Key="8b7ae6a0-7562-4055-b129-4782dd7f9225">Projects</Parent>
    <Path>/OnatrixOfficalHome/Projects/AnotherProject</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-22T17:52:53</CreateDate>
    <NodeName Default="Another Project" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="2469f320-af04-49dd-8156-2ef3df2d86bc">projectItemTemplate</Template>
  </Info>
  <Properties>
    <dateUploaded>
      <Value><![CDATA[]]></Value>
    </dateUploaded>
    <pageContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003Eblabla\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Another Project]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[blablablalbalblablalalba]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "e9904b53-94de-43e7-a5eb-72dca4138ece",
    "mediaKey": "4c2e9832-59e3-40c0-addf-49fc7b56587d",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>