<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e48d830-968e-4340-be9e-4f462df7501f" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="f4525db9-9bed-4235-8345-595274c82140">Services</Parent>
    <Path>/OnatrixOfficalHome/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-12T14:57:24</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="860db32f-4660-46bc-8789-ac4b90e6609c">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u003Cimg src=\u0022\u0022 alt=\u0022services_3.svg\u0022 width=\u0022370\u0022 height=\u0022220\u0022 data-udi=\u0022umb://media/35ca190e5be24db2b48680a22bff5aae\u0022\u003E\u003C/p\u003E\n\u003Cp\u003Ekey point\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "38a7bef9-6d3c-4afe-b367-3d05663fc06a",
    "mediaKey": "35ca190e-5be2-4db2-b486-80a22bff5aae",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>