<?xml version="1.0" encoding="utf-8"?>
<Content Key="184b294a-4ef3-4918-87c1-1a9d56e65466" Alias="Budget Planning for Buccura In..." Level="3">
  <Info>
    <Parent Key="8b7ae6a0-7562-4055-b129-4782dd7f9225">Projects</Parent>
    <Path>/OnatrixOfficalHome/Projects/BudgetPlanningForBuccuraIn</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-22T16:47:46</CreateDate>
    <NodeName Default="Budget Planning for Buccura In..." />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2469f320-af04-49dd-8156-2ef3df2d86bc">projectItemTemplate</Template>
  </Info>
  <Properties>
    <dateUploaded>
      <Value><![CDATA[January 3, 2024]]></Value>
    </dateUploaded>
    <pageContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003Eblabla\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "4bdb18ba-eecd-4ef7-84e0-c7f5a08541a1",
    "mediaKey": "2b242674-80fc-4fd8-a0ba-c6a9cbc53ae6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>