<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc4ee61f-eba2-4714-a186-edd977a3904e" Alias="Business Insights for SP Group..." Level="3">
  <Info>
    <Parent Key="8b7ae6a0-7562-4055-b129-4782dd7f9225">Projects</Parent>
    <Path>/OnatrixOfficalHome/Projects/BusinessInsightsForSPGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-22T16:46:44</CreateDate>
    <NodeName Default="Business Insights for SP Group..." />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2469f320-af04-49dd-8156-2ef3df2d86bc">projectItemTemplate</Template>
  </Info>
  <Properties>
    <dateUploaded>
      <Value><![CDATA[May 17, 2024]]></Value>
    </dateUploaded>
    <pageContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003Eblabla\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "acac83fc-3b7f-41eb-8769-cdf61b40f6db",
    "mediaKey": "3bac609a-d692-4095-8459-453ff7900b65",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>