<?xml version="1.0" encoding="utf-8"?>
<Content Key="f81bd17a-9ecd-470e-8bf8-f36934055235" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d400ba82-4eae-45c6-b5da-cedd8ec1e6c6">Onatrix Offical - Home</Parent>
    <Path>/OnatrixOfficalHome/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-26T14:59:06</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="cfc16203-4f06-490d-b22e-37815dc86f6d">modularPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "280830f5-0983-4615-9db6-d8473cade319",
      "udi": "umb://element/01dbd4c13b60424d9ef3a95cf86457c5",
      "sectionTitle": "Map"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/01dbd4c13b60424d9ef3a95cf86457c5",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "302ec6b5-af48-472c-902a-e58aff7b85fc",
            "items": []
          }
        ]
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>