<?xml version="1.0" encoding="utf-8"?>
<Content Key="fac93794-936b-4928-967a-8970d66f0f70" Alias="Contact" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Contact</Path>
    <Trashed Parent="d400ba82-4eae-45c6-b5da-cedd8ec1e6c6">true</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-10T15:08:54</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cfc16203-4f06-490d-b22e-37815dc86f6d">modularPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>