<?xml version="1.0" encoding="utf-8"?>
<Content Key="06efc11f-aa3d-4669-b51d-cfcc6b492c88" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d400ba82-4eae-45c6-b5da-cedd8ec1e6c6">Onatrix Offical - Home</Parent>
    <Path>/OnatrixOfficalHome/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-16T13:13:30</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="77b0054d-5f07-463f-81a9-51247d20fa51">contactPage</Template>
  </Info>
  <Properties>
    <contactForm>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1292af95-cd4b-4f38-9ef9-3f790ec7def1",
      "udi": "umb://element/4e7fd5d5eb61406693d8652e2ea96dcc",
      "uniqueName": "name",
      "labelText": "Name",
      "placeholderText": "Name",
      "hideLabel": 1,
      "inputType": "[\u0022text\u0022]",
      "isRequired": 1,
      "errorMessage": "You must enter your name"
    },
    {
      "contentTypeKey": "1292af95-cd4b-4f38-9ef9-3f790ec7def1",
      "udi": "umb://element/8410fd5a99104a12b81e325a4de33bc0",
      "uniqueName": "email",
      "inputType": "[\u0022email\u0022]",
      "labelText": "E-mail address",
      "placeholderText": "E-mail address",
      "hideLabel": 1,
      "errorMessage": "You must enter a valid e-mail address",
      "isRequired": 1
    },
    {
      "contentTypeKey": "1292af95-cd4b-4f38-9ef9-3f790ec7def1",
      "udi": "umb://element/8bf3b1f13ca14599a642064482002dab",
      "inputType": "[\u0022phone\u0022]",
      "uniqueName": "phone",
      "labelText": "Phone",
      "placeholderText": "Phone",
      "hideLabel": 1
    },
    {
      "contentTypeKey": "2856bfdf-bb13-4455-ba1d-4ee05f2a5573",
      "udi": "umb://element/68a01e76e838415593854dbd6069085a",
      "buttonText": "Submit",
      "buttonColor": "{\r\n  \u0022label\u0022: \u0022Primary\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}",
      "buttonType": "[\u0022submit\u0022]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4e7fd5d5eb61406693d8652e2ea96dcc",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/8410fd5a99104a12b81e325a4de33bc0",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/8bf3b1f13ca14599a642064482002dab",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/68a01e76e838415593854dbd6069085a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactForm>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>