<?xml version="1.0" encoding="utf-8"?>
<Content Key="463a501f-68fb-4907-91c5-4f23d1ff37e7" Alias="Contact (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Contact1</Path>
    <Trashed Parent="d400ba82-4eae-45c6-b5da-cedd8ec1e6c6">true</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-16T14:16:58</CreateDate>
    <NodeName Default="Contact (1)" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cfc16203-4f06-490d-b22e-37815dc86f6d">modularPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "280830f5-0983-4615-9db6-d8473cade319",
      "udi": "umb://element/ecaf408fd8ca4001a2465884952d77f8",
      "sectionTitle": "Contact Info"
    },
    {
      "contentTypeKey": "280830f5-0983-4615-9db6-d8473cade319",
      "udi": "umb://element/90af57711edc41f18fdfe98126ebeb1d",
      "sectionTitle": "Contact Form",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "centerContentOnPage": 0
    },
    {
      "contentTypeKey": "58f14dd1-7921-4e90-96f1-b3c64a1c869c",
      "udi": "umb://element/ac2738de2188451fa15908ef4173f05d",
      "headingContent": "Let us know about your next project"
    },
    {
      "contentTypeKey": "7669016d-f417-43c8-a2f8-d57673c695ea",
      "udi": "umb://element/9757a1b4ae514e3aaa10265f6d34c4d6",
      "formName": "Request a call back",
      "headline": "Let us know about your next project",
      "formText": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus",
      "formContent": "{\u0022contentData\u0022:[{\u0022contentTypeKey\u0022:\u00221292af95-cd4b-4f38-9ef9-3f790ec7def1\u0022,\u0022udi\u0022:\u0022umb://element/be01a5ef67094e84b249dbb75f4a329c\u0022,\u0022uniqueName\u0022:\u0022name\u0022,\u0022labelText\u0022:\u0022Name\u0022,\u0022placeholderText\u0022:\u0022Name\u0022,\u0022hideLabel\u0022:1,\u0022inputType\u0022:\u0022[\\u0022text\\u0022]\u0022,\u0022isRequired\u0022:1,\u0022errorMessage\u0022:\u0022You must enter your name\u0022}],\u0022settingsData\u0022:[],\u0022Layout\u0022:{\u0022Umbraco.BlockList\u0022:[{\u0022contentUdi\u0022:\u0022umb://element/be01a5ef67094e84b249dbb75f4a329c\u0022,\u0022settingsUdi\u0022:null}]}}",
      "backgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/ecaf408fd8ca4001a2465884952d77f8",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "302ec6b5-af48-472c-902a-e58aff7b85fc",
            "items": [
              {
                "contentUdi": "umb://element/ac2738de2188451fa15908ef4173f05d",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/90af57711edc41f18fdfe98126ebeb1d",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "302ec6b5-af48-472c-902a-e58aff7b85fc",
            "items": [
              {
                "contentUdi": "umb://element/9757a1b4ae514e3aaa10265f6d34c4d6",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>