<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbf284c1-41d3-436c-94c4-05987eabe138" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="f4525db9-9bed-4235-8345-595274c82140">Services</Parent>
    <Path>/OnatrixOfficalHome/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-12T14:58:50</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="860db32f-4660-46bc-8789-ac4b90e6609c">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u003Cimg src=\u0022\u0022 alt=\u0022services_5.svg\u0022 width=\u0022370\u0022 height=\u0022220\u0022 data-udi=\u0022umb://media/097036c1a88c441d81c5d09c7446208a\u0022\u003E\u003C/p\u003E\n\u003Cp\u003Ekey point\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "bec1cc0f-727b-471b-9b59-569493f9a0d9",
    "mediaKey": "097036c1-a88c-441d-81c5-d09c7446208a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>