<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f4f3868-0261-4ea7-b107-cf0e18f3a4e4" Alias="k" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/k</Path>
    <Trashed Parent="3655fa86-a6b2-4e8d-bae8-52d131f637d4">true</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-11T15:53:11</CreateDate>
    <NodeName Default="k" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c6f9e497-7310-42f7-b01d-1d2d739dbddd">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>