<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b7ae6a0-7562-4055-b129-4782dd7f9225" Alias="Projects" Level="2">
  <Info>
    <Parent Key="d400ba82-4eae-45c6-b5da-cedd8ec1e6c6">Onatrix Offical - Home</Parent>
    <Path>/OnatrixOfficalHome/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-09-16T12:42:03</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0864329e-5373-49a2-b2a0-3a9464948ac0">projectListPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>