<?xml version="1.0" encoding="utf-8"?>
<Content Key="04e92a1b-2d26-4df6-86c4-f012c49998ca" Alias="Projects" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Projects</Path>
    <Trashed Parent="d400ba82-4eae-45c6-b5da-cedd8ec1e6c6">true</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-10T15:08:43</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cfc16203-4f06-490d-b22e-37815dc86f6d">modularPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>