<?xml version="1.0" encoding="utf-8"?>
<Content Key="bbca9690-ebc2-46c9-a84c-45fc67202d8e" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="f4525db9-9bed-4235-8345-595274c82140">Services</Parent>
    <Path>/OnatrixOfficalHome/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-11T15:13:36</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="860db32f-4660-46bc-8789-ac4b90e6609c">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u003Cimg src=\u0022\u0022 alt=\u0022service-risk-management-2.svg\u0022 width=\u0022500\u0022 height=\u0022297\u0022 data-udi=\u0022umb://media/cb674e1c276c4601b0f6b41d73c2d1e7\u0022\u003E\u003C/p\u003E\n\u003Ch3\u003Ekey point\u003C/h3\u003E\n\u003Cul\u003E\n\u003Cli\u003EFinancial planning is the process of helping clients meet their financial needs today and reach their dreams and goals tomorrow.\u003C/li\u003E\n\u003Cli\u003EPellentesque fringilla augue quis dolor dapibus semper eget non nibh. Ut lobortis, nulla sed euismod posuere, quam magna scelerisque lectus, auctor iaculis quam ligula nec augue\u003C/li\u003E\n\u003Cli\u003EIn hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet dapibus turpis.\u003C/li\u003E\n\u003C/ul\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "3ea772a1-157f-4e83-9d2b-254b3330fbfd",
    "mediaKey": "cb674e1c-276c-4601-b0f6-b41d73c2d1e7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>