<?xml version="1.0" encoding="utf-8"?>
<Content Key="0351be16-0deb-4e3b-b9d6-8fd0e309f231" Alias="Risk Management" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/RiskManagement</Path>
    <Trashed Parent="f4525db9-9bed-4235-8345-595274c82140">true</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-11T14:53:59</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="860db32f-4660-46bc-8789-ac4b90e6609c">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u003Cimg src=\u0022\u0022 alt=\u0022service-risk-management-2.svg\u0022 width=\u0022500\u0022 height=\u0022297\u0022 data-udi=\u0022umb://media/cb674e1c276c4601b0f6b41d73c2d1e7\u0022\u003E\u003C/p\u003E\n\u003Cp\u003E\u003Cspan style=\u0022font-size: 24pt;\u0022\u003E\u003Cstrong\u003Ekey point\u003C/strong\u003E\u003C/span\u003E\u003C/p\u003E\n\u003Cp\u003E\u003Cspan style=\u0022font-size: 14pt;\u0022\u003EFinancial planning is the process of helping clients meet their financial needs today and reach their dreams and goals tomorrow.\u003C/span\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "5b1d46c7-f831-4a6f-94f0-ec1302af3f9e",
    "mediaKey": "cb674e1c-276c-4601-b0f6-b41d73c2d1e7",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>