<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4525db9-9bed-4235-8345-595274c82140" Alias="Services" Level="2">
  <Info>
    <Parent Key="d400ba82-4eae-45c6-b5da-cedd8ec1e6c6">Onatrix Offical - Home</Parent>
    <Path>/OnatrixOfficalHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-11T14:42:57</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="c6f9e497-7310-42f7-b01d-1d2d739dbddd">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>