<?xml version="1.0" encoding="utf-8"?>
<Content Key="507dd16e-78e0-4c86-9301-42ea70d06a4b" Alias="Service Item 1" Level="3">
  <Info>
    <Parent Key="dabc1e28-79d8-4a90-82af-0f6f31d906b0">Services</Parent>
    <Path>/OnatrixOfficalHome/Services/ServiceItem1</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-10T15:08:09</CreateDate>
    <NodeName Default="Service Item 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cfc16203-4f06-490d-b22e-37815dc86f6d">modularPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>