<?xml version="1.0" encoding="utf-8"?>
<Content Key="02572ab9-5b00-409b-b0fe-ab04ef2cb871" Alias="Services (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Services1</Path>
    <Trashed Parent="d400ba82-4eae-45c6-b5da-cedd8ec1e6c6">true</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-11T14:42:21</CreateDate>
    <NodeName Default="Services (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c6f9e497-7310-42f7-b01d-1d2d739dbddd">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>