<?xml version="1.0" encoding="utf-8"?>
<Content Key="dabc1e28-79d8-4a90-82af-0f6f31d906b0" Alias="Services" Level="2">
  <Info>
    <Parent Key="d400ba82-4eae-45c6-b5da-cedd8ec1e6c6">Onatrix Offical - Home</Parent>
    <Path>/OnatrixOfficalHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-10T15:07:42</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cfc16203-4f06-490d-b22e-37815dc86f6d">modularPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Services]]></Value>
    </pageTitle>
  </Properties>
</Content>