<?xml version="1.0" encoding="utf-8"?>
<Content Key="fdfdce4f-11da-4aab-b0e3-e1b28faa76fa" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-09T15:32:25</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "2acbd347-42c2-44f5-8490-35ff34e46596",
    "mediaKey": "58c934ab-7d89-48ff-9c58-b046a0a6dbd7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix Inc.]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions for You]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "226a8051-efa6-4835-bb4f-80379fd05d85",
      "udi": "umb://element/20b210af00064c838144ac4b238c95fa",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "226a8051-efa6-4835-bb4f-80379fd05d85",
      "udi": "umb://element/73447376e8574ff88f489df75bb833ba",
      "platformName": "[\u0022X (formerly Twitter)\u0022]",
      "platformAccountUrl": "https://x.com/onatrix"
    },
    {
      "contentTypeKey": "226a8051-efa6-4835-bb4f-80379fd05d85",
      "udi": "umb://element/11cbfd2c6ddf44a4be5efdd1099e99ec",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://linkedin.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/20b210af00064c838144ac4b238c95fa",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/73447376e8574ff88f489df75bb833ba",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/11cbfd2c6ddf44a4be5efdd1099e99ec",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>