<?xml version="1.0" encoding="utf-8"?>
<Content Key="ccd5f019-35d9-41c2-a1db-b3600ac0cec2" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="f4525db9-9bed-4235-8345-595274c82140">Services</Parent>
    <Path>/OnatrixOfficalHome/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-12T14:58:07</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="860db32f-4660-46bc-8789-ac4b90e6609c">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u003Cimg src=\u0022\u0022 alt=\u0022services_4.svg\u0022 width=\u0022370\u0022 height=\u0022220\u0022 data-udi=\u0022umb://media/b32eebc1fb5e44fb8bc815d404d9a111\u0022\u003E\u003C/p\u003E\n\u003Cp\u003Ekey point\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "240a64d8-94a5-4641-941d-2d17d0e048c0",
    "mediaKey": "b32eebc1-fb5e-44fb-8bc8-15d404d9a111",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>