<?xml version="1.0" encoding="utf-8"?>
<Media Key="37f49047-eb8f-4e21-b458-ab523ed6cac0" Alias="about-hero-2.svg" Level="2">
  <Info>
    <Parent Key="e0898a88-667e-43c4-aed9-07ad83b309dc">about_images</Parent>
    <Path>/about_images/aboutHero2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:58:26</CreateDate>
    <NodeName Default="about-hero-2.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wuwfnvmu/about-hero-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>