<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0898a88-667e-43c4-aed9-07ad83b309dc" Alias="about_images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/about_images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T15:58:11</CreateDate>
    <NodeName Default="about_images" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>