<?xml version="1.0" encoding="utf-8"?>
<Media Key="71eabec5-e23e-4bc4-8c1c-6aae211d5027" Alias="about-hero.svg" Level="2">
  <Info>
    <Parent Key="e0898a88-667e-43c4-aed9-07ad83b309dc">about_images</Parent>
    <Path>/about_images/aboutHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:58:26</CreateDate>
    <NodeName Default="about-hero.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g2bfrezf/about-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>