<?xml version="1.0" encoding="utf-8"?>
<Media Key="f423c77f-5f6b-4b6d-885c-d11614c7a589" Alias="contact_info_images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contact_info_images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T15:59:22</CreateDate>
    <NodeName Default="contact_info_images" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>