<?xml version="1.0" encoding="utf-8"?>
<Media Key="226ec70b-6bfa-4afb-a3dc-3ade3ddc6855" Alias="contact-info-background.svg" Level="2">
  <Info>
    <Parent Key="f423c77f-5f6b-4b6d-885c-d11614c7a589">contact_info_images</Parent>
    <Path>/contact_info_images/contactInfoBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:59:28</CreateDate>
    <NodeName Default="contact-info-background.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5f3mzqhb/contact-info-background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>