<?xml version="1.0" encoding="utf-8"?>
<Media Key="236be76d-d31f-4877-a987-ca88ef9a5271" Alias="dot-map-1.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/dotMap1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:56:44</CreateDate>
    <NodeName Default="dot-map-1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t3nmtqie/dot-map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>