<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4800c1e-ec3b-450a-89d9-53fc84f7da24" Alias="groupofpeople.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/groupofpeoplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:56:44</CreateDate>
    <NodeName Default="groupofpeople.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3sydejra/groupofpeople.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>