<?xml version="1.0" encoding="utf-8"?>
<Media Key="5706eb48-c53a-4c46-b71a-ee049e406f33" Alias="hero.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/herosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:56:45</CreateDate>
    <NodeName Default="hero.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xjlkjnjb/hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>