<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c2b60d8-fac7-49f9-9bae-7954a6411c12" Alias="icon_star 1.svg" Level="2">
  <Info>
    <Parent Key="e0898a88-667e-43c4-aed9-07ad83b309dc">about_images</Parent>
    <Path>/about_images/icon_star1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T16:58:21</CreateDate>
    <NodeName Default="icon_star 1.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/flojs1w2/icon_star-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>