<?xml version="1.0" encoding="utf-8"?>
<Media Key="f12e6a8e-b579-4b17-90d4-280fb9ea71bf" Alias="Icon-calendar.svg" Level="2">
  <Info>
    <Parent Key="ca458883-58bf-4208-ab0e-4670f6c59008">project_details</Parent>
    <Path>/project_details/IconCalendarsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T15:45:57</CreateDate>
    <NodeName Default="Icon-calendar.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ptljye1c/icon-calendar.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>