<?xml version="1.0" encoding="utf-8"?>
<Media Key="96816323-c61a-4109-b7d6-ae4675a7a3d1" Alias="kevin-gardner.svg" Level="2">
  <Info>
    <Parent Key="e0898a88-667e-43c4-aed9-07ad83b309dc">about_images</Parent>
    <Path>/about_images/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:58:26</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0hpcg3ab/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>