<?xml version="1.0" encoding="utf-8"?>
<Media Key="58c934ab-7d89-48ff-9c58-b046a0a6dbd7" Alias="logo.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:56:43</CreateDate>
    <NodeName Default="logo.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lgehxous/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>