<?xml version="1.0" encoding="utf-8"?>
<Media Key="daa444be-6cd1-43e7-a07f-b3064c3c8335" Alias="map.svg" Level="2">
  <Info>
    <Parent Key="f423c77f-5f6b-4b6d-885c-d11614c7a589">contact_info_images</Parent>
    <Path>/contact_info_images/mapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T18:04:17</CreateDate>
    <NodeName Default="map.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jt2bmogk/map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>