<?xml version="1.0" encoding="utf-8"?>
<Media Key="61c3ce1d-65f2-4458-afc4-f5e07b2e257d" Alias="new folder name" Level="2">
  <Info>
    <Parent Key="f423c77f-5f6b-4b6d-885c-d11614c7a589">contact_info_images</Parent>
    <Path>/contact_info_images/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-03T11:23:45</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>