<?xml version="1.0" encoding="utf-8"?>
<Media Key="17ab1d15-2e8b-4027-acac-3b296321dec5" Alias="our-services-5.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/ourServices5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:57:17</CreateDate>
    <NodeName Default="our-services-5.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/24qat3mq/our-services-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>