<?xml version="1.0" encoding="utf-8"?>
<Media Key="96541f25-7f67-4c68-8563-98ff52a7d576" Alias="our-services-6.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/ourServices6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:57:17</CreateDate>
    <NodeName Default="our-services-6.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/04rpm3d2/our-services-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>