<?xml version="1.0" encoding="utf-8"?>
<Media Key="438ddfd1-343f-4ef5-a037-9f912e04d0e9" Alias="our-services-1.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/ourServices1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:57:18</CreateDate>
    <NodeName Default="our-services-1.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/enrc5ije/our-services-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>