<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac695714-7e47-4a77-85bc-c0cacbd243e1" Alias="our-services-3.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/ourServices3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:57:18</CreateDate>
    <NodeName Default="our-services-3.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/21vmwts2/our-services-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>