<?xml version="1.0" encoding="utf-8"?>
<Media Key="929b9804-cf0d-4f8f-8d70-a7a166187807" Alias="our-services-4.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/ourServices4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:57:17</CreateDate>
    <NodeName Default="our-services-4.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ysds2aw/our-services-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>