<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d9a492c-a974-4821-9416-9fbeb9df121b" Alias="partners-5.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/partners5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:57:10</CreateDate>
    <NodeName Default="partners-5.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/110dr51p/partners-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>