<?xml version="1.0" encoding="utf-8"?>
<Media Key="093f6843-bd58-4d9a-aeca-406a7c2a192b" Alias="partners-2.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/partners2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:57:10</CreateDate>
    <NodeName Default="partners-2.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/whkj100d/partners-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>