<?xml version="1.0" encoding="utf-8"?>
<Media Key="f874ddc1-585a-4753-a559-8135c3fb25cd" Alias="partners-1.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/partners1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:57:11</CreateDate>
    <NodeName Default="partners-1.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gnqnmgsb/partners-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>