<?xml version="1.0" encoding="utf-8"?>
<Media Key="5049bac5-275a-4224-8666-822b97fd6b80" Alias="partners-6.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/partners6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:57:11</CreateDate>
    <NodeName Default="partners-6.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g2dpxmsb/partners-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>