<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c7cf613-00f9-4767-ba6a-e22fa229165d" Alias="partners-3.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/partners3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:57:10</CreateDate>
    <NodeName Default="partners-3.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2ffn3dxc/partners-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>