<?xml version="1.0" encoding="utf-8"?>
<Media Key="63a55beb-fc97-45ec-9318-a548aeb7b74f" Alias="project-details-2.svg" Level="2">
  <Info>
    <Parent Key="ca458883-58bf-4208-ab0e-4670f6c59008">project_details</Parent>
    <Path>/project_details/projectDetails2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T10:50:52</CreateDate>
    <NodeName Default="project-details-2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dhtapamm/project-details-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>