<?xml version="1.0" encoding="utf-8"?>
<Media Key="56819fca-7040-4dce-9416-851d3030d8e4" Alias="projects-3.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/projects3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:56:59</CreateDate>
    <NodeName Default="projects-3.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/harchnc1/projects-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>