<?xml version="1.0" encoding="utf-8"?>
<Media Key="4662b10d-e6a1-4b7f-abe8-bbd5f1db35ba" Alias="project-details-1.svg" Level="2">
  <Info>
    <Parent Key="ca458883-58bf-4208-ab0e-4670f6c59008">project_details</Parent>
    <Path>/project_details/projectDetails1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T10:50:50</CreateDate>
    <NodeName Default="project-details-1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/52gmbjf0/project-details-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>