<?xml version="1.0" encoding="utf-8"?>
<Media Key="21addc7c-5f13-4c05-9ae1-0d82d48426c6" Alias="project-details-2.svg" Level="2">
  <Info>
    <Parent Key="ca458883-58bf-4208-ab0e-4670f6c59008">project_details</Parent>
    <Path>/project_details/projectDetails2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T15:22:04</CreateDate>
    <NodeName Default="project-details-2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rzqb5qyi/project-details-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>