<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca458883-58bf-4208-ab0e-4670f6c59008" Alias="project_details" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project_details</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-23T15:21:52</CreateDate>
    <NodeName Default="project_details" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>