<?xml version="1.0" encoding="utf-8"?>
<Media Key="0084b631-81d1-4462-bb56-54de74465f0b" Alias="project-details-1.svg" Level="2">
  <Info>
    <Parent Key="ca458883-58bf-4208-ab0e-4670f6c59008">project_details</Parent>
    <Path>/project_details/projectDetails1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T15:22:03</CreateDate>
    <NodeName Default="project-details-1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ymfdnywk/project-details-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>