<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c2e9832-59e3-40c0-addf-49fc7b56587d" Alias="projects-1.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/projects1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:56:58</CreateDate>
    <NodeName Default="projects-1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yasjzlxy/projects-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>