<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b242674-80fc-4fd8-a0ba-c6a9cbc53ae6" Alias="projects-4.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/projects4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:56:59</CreateDate>
    <NodeName Default="projects-4.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q0njnsph/projects-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>