<?xml version="1.0" encoding="utf-8"?>
<Media Key="34750c76-0ffe-41c2-b33f-1584100bcdcf" Alias="service_details_images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/service_details_images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T15:59:04</CreateDate>
    <NodeName Default="service_details_images" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>