<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f6b9c8a-c3dc-448d-be9f-8720594343bc" Alias="service-risk-management-3.svg" Level="2">
  <Info>
    <Parent Key="34750c76-0ffe-41c2-b33f-1584100bcdcf">service_details_images</Parent>
    <Path>/service_details_images/serviceRiskManagement3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:59:10</CreateDate>
    <NodeName Default="service-risk-management-3.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/paqnttoh/service-risk-management-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>