<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac2c751d-bb72-42b9-92ea-16e271538df0" Alias="service-risk-management-1.svg" Level="2">
  <Info>
    <Parent Key="34750c76-0ffe-41c2-b33f-1584100bcdcf">service_details_images</Parent>
    <Path>/service_details_images/serviceRiskManagement1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:59:10</CreateDate>
    <NodeName Default="service-risk-management-1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/35ei2ttj/service-risk-management-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>