<?xml version="1.0" encoding="utf-8"?>
<Media Key="caf7a878-6903-4daa-9ce7-d89154f7c9b7" Alias="services_2.svg" Level="2">
  <Info>
    <Parent Key="81abd1a7-180b-49ff-bc9a-4182864d6843">services_images</Parent>
    <Path>/services_images/services_2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T14:55:11</CreateDate>
    <NodeName Default="services_2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rikfkkay/services_2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>