<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb674e1c-276c-4601-b0f6-b41d73c2d1e7" Alias="service-risk-management-2.svg" Level="2">
  <Info>
    <Parent Key="34750c76-0ffe-41c2-b33f-1584100bcdcf">service_details_images</Parent>
    <Path>/service_details_images/serviceRiskManagement2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:59:10</CreateDate>
    <NodeName Default="service-risk-management-2.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/31znkklx/service-risk-management-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>