<?xml version="1.0" encoding="utf-8"?>
<Media Key="81abd1a7-180b-49ff-bc9a-4182864d6843" Alias="services_images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/services_images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-12T14:52:19</CreateDate>
    <NodeName Default="services_images" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>