<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a5f843b-5626-40b5-9205-8527025bc52b" Alias="services_6.svg" Level="2">
  <Info>
    <Parent Key="81abd1a7-180b-49ff-bc9a-4182864d6843">services_images</Parent>
    <Path>/services_images/services_6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T14:55:11</CreateDate>
    <NodeName Default="services_6.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ze2p00b3/services_6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>