<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2c9da4d-d89d-4b31-9be9-ea8dc4e21143" Alias="signature.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:56:44</CreateDate>
    <NodeName Default="signature.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x3thwueg/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>