<?xml version="1.0" encoding="utf-8"?>
<Media Key="976bb9f0-4246-4d5b-93ec-2785e00090f1" Alias="success-story.svg" Level="2">
  <Info>
    <Parent Key="7932742a-4182-413c-bb21-5fc7546a056d">home_images</Parent>
    <Path>/home_images/successStorysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:56:44</CreateDate>
    <NodeName Default="success-story.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aicms3k3/success-story.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>