<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e574fa6-4a6f-411f-96b4-5366ee05ece1" Alias="team-6.svg" Level="2">
  <Info>
    <Parent Key="e0898a88-667e-43c4-aed9-07ad83b309dc">about_images</Parent>
    <Path>/about_images/team6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:58:32</CreateDate>
    <NodeName Default="team-6.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ktzpl1du/team-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>