<?xml version="1.0" encoding="utf-8"?>
<Media Key="92b085f2-69ce-4752-89d1-b963a47f5caf" Alias="team-2.svg" Level="2">
  <Info>
    <Parent Key="e0898a88-667e-43c4-aed9-07ad83b309dc">about_images</Parent>
    <Path>/about_images/team2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:58:33</CreateDate>
    <NodeName Default="team-2.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aa2be2gv/team-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>