<?xml version="1.0" encoding="utf-8"?>
<Media Key="76a225b6-536a-4600-b2d8-449780df8e68" Alias="team-1.svg" Level="2">
  <Info>
    <Parent Key="e0898a88-667e-43c4-aed9-07ad83b309dc">about_images</Parent>
    <Path>/about_images/team1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:58:32</CreateDate>
    <NodeName Default="team-1.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ismabfdr/team-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>