<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3413f90-8fa3-4b44-ad4d-28f21d8aa7b1" Alias="team-5.svg" Level="2">
  <Info>
    <Parent Key="e0898a88-667e-43c4-aed9-07ad83b309dc">about_images</Parent>
    <Path>/about_images/team5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:58:32</CreateDate>
    <NodeName Default="team-5.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mkbogqny/team-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>