<?xml version="1.0" encoding="utf-8"?>
<Media Key="3abdf62e-5c64-4b8d-a6dc-932da2648525" Alias="team-4.svg" Level="2">
  <Info>
    <Parent Key="e0898a88-667e-43c4-aed9-07ad83b309dc">about_images</Parent>
    <Path>/about_images/team4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:58:32</CreateDate>
    <NodeName Default="team-4.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1rfb5wd5/team-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>