<?xml version="1.0" encoding="utf-8"?>
<Media Key="16703be0-1bea-416a-a3d6-146b2d3b9cba" Alias="team-3.svg" Level="2">
  <Info>
    <Parent Key="e0898a88-667e-43c4-aed9-07ad83b309dc">about_images</Parent>
    <Path>/about_images/team3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:58:32</CreateDate>
    <NodeName Default="team-3.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ckdnf3hr/team-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>