<?xml version="1.0" encoding="utf-8"?>
<Media Key="09004810-4767-4a4c-b9f3-8a4e552de455" Alias="tina-fox.svg" Level="2">
  <Info>
    <Parent Key="e0898a88-667e-43c4-aed9-07ad83b309dc">about_images</Parent>
    <Path>/about_images/tinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:58:26</CreateDate>
    <NodeName Default="tina-fox.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2l0lf012/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>