<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f730571-43ca-4f38-bd00-37fe1a88eeb3" Alias="Button - Button Types" Level="1">
  <Info>
    <Name>Button - Button Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "submit",
    "reset"
  ]
}]]></Config>
</DataType>