<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b5df31d-edb1-4877-a2fa-35a69449c847" Alias="Form Template - Block List" Level="1">
  <Info>
    <Name>Form Template - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1292af95-cd4b-4f38-9ef9-3f790ec7def1",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "fa0e0b6c-e7a7-43e3-813e-5d757dae8e79",
      "label": "InputPassword - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "9629fb5a-ffb5-4167-a406-17d817313bc7",
      "label": "InputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "2856bfdf-bb13-4455-ba1d-4ee05f2a5573",
      "label": "Button - {=buttonType}"
    }
  ]
}]]></Config>
</DataType>