<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a4d3e12-710a-4d5a-884f-a8b72a149463" Alias="Image Slider - Slides" Level="1">
  <Info>
    <Name>Image Slider - Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cc9f4c0b-dff9-4c6b-8da7-8a25657c4168",
      "label": "**slide item** - {=imageDescription}"
    }
  ]
}]]></Config>
</DataType>