<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb15b435-0b36-47d5-b33e-620bd4936a89" Alias="InputText - Input Types" Level="1">
  <Info>
    <Name>InputText - Input Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "phone"
  ]
}]]></Config>
</DataType>