<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00f56f96-c2b1-4d78-93c4-03611a8e2356" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "d8779bc4-9653-4fc3-88f5-22f22237024c",
      "name": "Containers"
    },
    {
      "key": "f1bd587e-beee-41a9-99eb-4612043f58bc",
      "name": "Components"
    },
    {
      "key": "43b807a8-82ca-488f-9f4e-dd6f4dcbddda",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "b7d7a281-6793-4a2d-a342-644400235094",
      "allowAtRoot": true,
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "a24269f4-127e-45a6-8bcf-6130ed7dc006",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "d8779bc4-9653-4fc3-88f5-22f22237024c"
    },
    {
      "contentElementTypeKey": "280830f5-0983-4615-9db6-d8473cade319",
      "allowAtRoot": true,
      "groupKey": "d8779bc4-9653-4fc3-88f5-22f22237024c",
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "302ec6b5-af48-472c-902a-e58aff7b85fc",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "ff224bfc-71f3-484a-a35b-2a4c092a3b44",
      "allowAtRoot": false,
      "groupKey": "d8779bc4-9653-4fc3-88f5-22f22237024c",
      "allowInAreas": true,
      "areas": [
        {
          "key": "a431b6c5-78aa-49a6-b87a-14465dbfe313",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "label": "container"
    },
    {
      "contentElementTypeKey": "c9991149-500d-4b05-b636-93f80b5fa2b4",
      "allowAtRoot": false,
      "groupKey": "d8779bc4-9653-4fc3-88f5-22f22237024c",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "8d0bfd69-3eca-49d6-ae79-1d8c2c9ea761",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "label": "dynamic container"
    },
    {
      "contentElementTypeKey": "58f14dd1-7921-4e90-96f1-b3c64a1c869c",
      "allowAtRoot": false,
      "groupKey": "43b807a8-82ca-488f-9f4e-dd6f4dcbddda",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "758233b0-7008-4fcc-b7fa-21410e614bdb",
      "allowAtRoot": false,
      "groupKey": "43b807a8-82ca-488f-9f4e-dd6f4dcbddda",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "0f52073c-c0aa-4132-8fe3-1d7a3c07054b",
      "allowAtRoot": false,
      "groupKey": "43b807a8-82ca-488f-9f4e-dd6f4dcbddda",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f8de57c3-272c-4e04-876e-d1ece2be90dd",
      "allowAtRoot": false,
      "groupKey": "43b807a8-82ca-488f-9f4e-dd6f4dcbddda",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "58e0f702-df8f-4ef0-9277-c38f7ff37b9a",
      "allowAtRoot": false,
      "groupKey": "43b807a8-82ca-488f-9f4e-dd6f4dcbddda",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "611ec04b-1ae6-4923-9a6c-5e95ee96fad9",
      "allowAtRoot": false,
      "groupKey": "43b807a8-82ca-488f-9f4e-dd6f4dcbddda",
      "label": "",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "70da2db9-d47b-4f80-a92f-0af2fd785777",
      "allowAtRoot": false,
      "groupKey": "43b807a8-82ca-488f-9f4e-dd6f4dcbddda",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6c3d6941-fc4b-48c8-a80e-d4722f91ebdf",
      "allowAtRoot": false,
      "groupKey": "43b807a8-82ca-488f-9f4e-dd6f4dcbddda",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ddd037d7-b758-47b0-8ef4-7fdb3c698b0d",
      "allowAtRoot": false,
      "groupKey": "43b807a8-82ca-488f-9f4e-dd6f4dcbddda",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f9a89780-c40c-4cf4-ac28-26068c4e4626",
      "allowAtRoot": false,
      "groupKey": "43b807a8-82ca-488f-9f4e-dd6f4dcbddda",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "98450fee-445a-470a-8602-c8da5a688c33",
      "allowAtRoot": false,
      "groupKey": "43b807a8-82ca-488f-9f4e-dd6f4dcbddda",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6102aaf6-a9d3-4335-b810-fddcda822f98",
      "allowAtRoot": false,
      "groupKey": "43b807a8-82ca-488f-9f4e-dd6f4dcbddda",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3ab5337c-c6ff-442d-9fc0-ddae429cc6a6",
      "allowAtRoot": false,
      "groupKey": "f1bd587e-beee-41a9-99eb-4612043f58bc",
      "label": "image slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "32f86864-a746-4d97-95bf-1ff808af2600",
      "allowAtRoot": true,
      "groupKey": "f1bd587e-beee-41a9-99eb-4612043f58bc"
    },
    {
      "contentElementTypeKey": "7669016d-f417-43c8-a2f8-d57673c695ea",
      "allowAtRoot": true,
      "groupKey": "f1bd587e-beee-41a9-99eb-4612043f58bc",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "31d9850a-e84c-43ec-9f58-98ad8d0b3355",
      "allowAtRoot": true,
      "groupKey": "f1bd587e-beee-41a9-99eb-4612043f58bc"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>