<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1714e81-e361-4eda-aeda-ef571677f049" Alias="Project List Page - Project Tags" Level="1">
  <Info>
    <Name>Project List Page - Project Tags</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>