<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d7b6a24-bb5f-4f37-a037-0993a97a1464" Alias="Settings Page - Social Media Platforms" Level="1">
  <Info>
    <Name>Settings Page - Social Media Platforms</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "226a8051-efa6-4835-bb4f-80379fd05d85",
      "label": "**{=platformName}** - {=platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>