<?xml version="1.0" encoding="utf-8"?>
<DataType Key="36a3d8d3-5f6d-4a3a-a594-e0354dbd3a0b" Alias="tags - multi text - muli text - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>tags - multi text - muli text - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>